<style>
.right {
   float: right;
  right: 0px;
}
</style>
<div id="directors">
  <h1>Diretores
  <%= link_to new_director_path, class: 'primary span' do %>
  <button class="right text-white button" style="vertical-align:middle">
  <span>Novo</span>
  </button>
  <% end %>
  </h1>
  <br>
</div>
<table class="table">
  <thead>
  <div class="container">
    <div class="row">
      <tr>
        <th class="col-md-3" scope="col">Nome</th>
        <th class="col-md-3" scope="col">Criado em</th>
        <th class="col-md-3" style="text-align: right"scope="col" >Ações</th>
      </tr>
    </div>
  </div>
  </thead>
  <tbody>
    <% @directors.each do |director| %>
    <%= render director %>
  <% end %>
  </tbody>
</table>
