<div class="card mb-3 col-12 dark-gray-6">
  <div class="row g-0 rounded dark-gray-6">
    <div class="col-md-6 mainCard">
      <%= image_tag Movie.select(:cover_url).last['cover_url'] %>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title"><%= Movie.select(:title).last['title'] %></h5>
        <p class="card-text"><small class="text-muted">Estreia: <%= Movie.select(:published_at).last['published_at']%></small></p>
        <p class="card-text"><small class="text-muted"><%= Movie.select(:sinopse).last['sinopse']%></small></p>
      </div>
    </div>
  </div>
</div>